.header {
	left: 0;
	right: 0;
	top: 24px;
	width: 90%;
	z-index: 99;
	display: flex;
	margin: 0 auto;
	position: fixed;
	overflow: hidden;
	max-width: 1440px;
	align-items: flex-end;
	justify-content: space-between;

	.nav {
		gap: 10px;
		display: flex;
		align-items: center;

		position: relative;
	}

	.navCTA {
		width: 42px;
		height: 42px;
		// padding-left: 10px;
		// padding-block: 10px;
		border-radius: 99rem;
		position: relative;
		display: flex;
		align-items: center;
		overflow: hidden;
		transition: box-shadow 0.2s ease-out;
		color: var(--background);
		background: var(--foreground);
		border: 1px solid var(--foreground);

		&:hover {
			cursor: pointer;
			transition: box-shadow 0.2s ease-out;
		}

		.label {
			font-size: 16px;
			line-height: 1.4;
			font-weight: 300;
			text-align: left;

			// overflow: hidden;
			white-space: nowrap;
			color: var(--background);
			font-family: var(--font-display);

			margin: 0 42px 0 10px;
		}

		.icon {
			width: 42px;
			height: 42px;
			border-radius: 99rem;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			right: 0;
		}
	}
}
