.reset {
  outline: none;
  color: var(--fg);
  text-decoration: none;
}

.gray {
  color: var(--lime-green);
}

.gray:hover,
.gray:focus {
  color: var(--lime-green);
}

.underline {
  outline: none;
  color: var(--fg);
  text-decoration: none;

  background-image: linear-gradient(to right, var(--gray), var(--gray));
  background-size: 100% 1px;
  background-position: left bottom;
  background-repeat: no-repeat;
  text-shadow: 0.1em 0 var(--bg), -0.1em 0 var(--bg), 0.05em 0 var(--bg),
    -0.05em 0 var(--bg);
}

.underline:hover,
.underline:focus {
  color: var(--lime-green);
}
