.root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.wrapper {
  inset: 0;
  position: absolute;
  transform: scale(1.3);
  will-change: transform;
}
