@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@import "tailwindcss";

@theme light {
  --color-background: #f2f3f2;
  --color-foreground: #505450;
  --color-muted: #a7a9a7;

  --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-serif: "EB Garamond", "Times New Roman", Times, serif;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply select-none;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  html,
  body {
    width: 100dvw;
    min-height: 100dvh;
  }

  html {
    overflow: hidden;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    user-select: none;
  }

  body {
    @apply bg-background text-foreground text-xs font-sans font-[475];
  }
}
