@import "./card.module.css";

.marquee {
  width: 100%;
  position: relative;
}

.marqueeContent {
  gap: 24px;
  display: flex;
  margin-left: 24px;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-zinc-700);
}

.marqueeMask {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    var(--color-zinc-100),
    transparent 10%,
    transparent 90%,
    var(--color-zinc-100)
  );
}

.clientLogo {
  width: 112px;
  font-size: 26px;
  color: currentColor;
}
