.container {
  gap: 15px;
  width: 100%;
  display: flex;
  position: relative;
  padding-inline: 15px;
  padding-block: 32vh 34vh;

  @media screen and (max-width: 920px) {
    gap: 12vh;
    flex-direction: column;
    padding-block: 32vh 24vh;
  }
}

.left {
  gap: 15px;
  display: flex;
  flex: 5 0 0px;
  flex-direction: column;
}

.right {
  gap: 40px;
  display: flex;
  flex: 2 0 0px;
  height: fit-content;
  padding-inline: 15px;
  flex-direction: column;
}

.image {
  top: 120px;
  width: 100%;
  position: sticky;
  overflow: hidden;
  border-radius: 12px;
  aspect-ratio: 10 / 6;

  @media screen and (max-width: 920px) {
    aspect-ratio: 3 / 4;
  }
}

.info {
  gap: 10px;
  display: flex;
  align-self: stretch;
  flex-direction: column;
}

.bio {
  gap: 15px;
  display: flex;
  align-self: stretch;
  padding-bottom: 30px;
  flex-direction: column;
}

.bioTitle {
  color: var(--color-zinc-400);
}

.bioContent {
  font-size: 16px;
  font-weight: 420;
}

.section {
  display: flex;
  padding-block: 8px;
  border-top: 1px solid var(--color-zinc-200);

  @media screen and (max-width: 920px) {
    flex-direction: column;
    gap: 15px;
  }
}

.sectionTitle {
  flex: 1 0 0px;

  color: var(--color-zinc-400);
}

.sectionContent {
  flex: 3 0 0px;
  font-weight: 420;
}

.clients {
  columns: 2;

  @media screen and (max-width: 920px) {
    columns: 1;
  }
}

.clientCard {
  display: flex;
  aspect-ratio: 4 / 3;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  color: var(--color-zinc-700);
  background: var(--color-zinc-100);

  & + .clientCard {
    margin-top: 15px;
  }

  @media screen and (max-width: 920px) {
    aspect-ratio: 16 / 9;
  }
}

.clientLogo {
  width: 112px;
  font-size: 26px;
  color: currentColor;
  text-align: center;
}

.industries,
.services {
  columns: 2;
}

.contactTitle {
  font-size: 28px;
  margin-bottom: 15px;
}

.contactContent {
  margin-bottom: 7px;
}
