.main {
  gap: 15px;
  flex: none;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: masonry;
  column-gap: 15px;
  flex-wrap: nowrap;
  position: relative;
  columns: 3 min(350px);
  padding-inline: 15px;
  padding-block: 24vh 20vh;
}

.column {
  gap: 15px;
  width: 1px;
  height: auto;
  display: flex;
  flex: 1 0 0px;
  flex-wrap: nowrap;
  position: relative;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.card {
  break-inside: avoid;
  + .card {
    margin-top: 15px;
  }
}
